.calculator{
    display: grid;
    grid-template-columns: 202px;
    grid-template-rows: 100px 300px;
    margin-left: auto;
    margin-right:auto;
    width: 30%;
}

#screen{
    border-style:ridge;
    border-color: grey;
    margin-bottom: 0.5px;
    text-overflow: ellipsis;
    white-space:nowrap;
    background-color: white;

}

.buttons{    
    display:grid;    
    grid-template-columns: 50px 50px 50px auto;
    grid-auto-rows: 50px 50px 50px 50px 50px;
    
}

.buttons>button{
    color: white;
    background-color: #003366;
    font-size: 20px;
    
}

#equals{    
    width: 102px;    
    background-color: #ffd633;
    color: black;
}

#rightSide{
    background-color:  #944dff;
}